*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Overpass', sans-serif;
}

.hero-container {
    background-image: url(/blogr-landing-page-main/images/bg-pattern-intro-desktop.svg), linear-gradient(hsl(13, 100%, 72%),hsl(353, 100%, 62%));
    background-size: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    border-radius: 0 0 0 7rem;
    display: flex;
    flex-wrap: wrap;
        .navbar-one {
            width: 100%;
            height: 50px;
            padding: 50px 0;
            display: inline-flex;
            justify-content: space-between;
            align-items: center;
        }
        .inner-hero {
            display: block; 
            width: 100%;
            text-align: center;
            h1 {
                padding-bottom: 30px;
                font-size: 2.4rem;
                color: white;
                font-weight: 400;
            }
            p {
                padding-bottom: 50px;
                color: white;
                font-size: 1.2rem;
                font-weight: 100;
            }
        .hero-buttons {
            display: flex;
            justify-content: center;
            width: 100%;
            .startforfree {
                background-color: white;
                font-size: 1rem;
                border: none;
                color: #FF3D54;
                padding: 1em 1.5em;
                margin: 0.5rem;
                border-radius:2em;
                transition-duration: 0.4s;
                }
            .startforfree:hover {
                background-color: #FF3D54; /* Green */
                color: white;
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
            }
            .learnmore {
                border: 0.1em solid white;
                background-color: transparent;
                font-size: 1rem;
                color: white;
                padding: 1em 1.5em;
                margin: 0.5rem;
                border-radius: 2em;
                text-decoration: none;
                transition-duration: 0.4s;
            }
            .learnmore:hover {
                color: white;
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
            }
        }
    }
}
.container {
    article {
        width: 100%;
        padding: 30px;
        text-align: center;
        &.designbox { // Artikeln "State of Art"
            width: 100%;
            margin-top: 150px;
            padding-bottom: 80px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-end;
            background-image: url(/images/bg-pattern-circles.svg),linear-gradient(hsl(237, 28%, 25%));
            background-size: 100%;
            background-position: -90% -90%;
            background-size: 100%;
            background-repeat: no-repeat;
            border-radius: 0 7rem 0 7rem;
            @media only screen and (min-width: 768px) {
                height: 300px;
                border-radius: 0 5rem 0 5rem;
                background-position: 10%;
                margin-bottom: 150px;
                justify-content: space-between;
                align-items: center;
                align-content: center;
            }
            .text-box1 {
                @media only screen and (min-width: 768px) {
                    width: 50%;
                }
                h2 {
                    color: white;
                }
                p {
                    color: white;
                }
            }
            .phone-images {
                margin-top: -150px;
                @media only screen and (min-width: 768px) {
                    width: 50%;
                    margin-top: 0;
                }
                img {
                    width: 90%;
                    display: block;
                    position: relative;
                }
            }
        }
        h2 {
            font-size: 1.5rem;
            font-weight: 400;
            color: hsl(240, 10%, 16%);
            padding: 1.5rem;
        }
        p {
            font-size: 1rem;
            line-height: 1.8rem;
            font-weight: 300;
            color: hsl(240, 10%, 16%);
        }
        .dashboard-image {
            width: 100%;
            padding-bottom: 1rem;
            @media only screen and (min-width: 768px) {
                width: 50%;
            }
        }
    }
    .section-1 {
        width: 100%;
        .start-header {
           
        } 
        @media only screen and (min-width: 768px) {
            display: flex;
            .box1 {
                width: 40%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }
            .box2 {
                width: 40%; 
            }
            .dashboard-image {
                width: 100%;
            }
        }
    }
}
footer {
    width: 100%;
    background-color: #24242C;
    border-radius: 0 7rem 0 0;
    margin-top: 60px;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    @media only screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .footer-logo {
        width: 30%;
        align-self: center;
        padding: 60px 0;
    }
    .footer-menus {
        padding: 0 0 70px 0;
        text-align: center;
        h4 {
            color: white;
            padding-bottom: 15px;
        }
        ul {
            list-style: none;
            li {
                color: white;
                font-weight: 200;
                padding-bottom: 2%;
            }
        }
    }
    .attribution {
        color: white;
        padding: 30px 0 10px 0;
        font-size: 0.8rem;
        font-weight: 200;
        a {
            color: white;
            text-decoration: none;
        }
    }
}