* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: black;
  font-family: 'Overpass', sans-serif;
}

.hero-container {
  background-image: url(/blogr-landing-page-main/images/bg-pattern-intro-desktop.svg), -webkit-gradient(linear, left top, left bottom, from(#ff8f70), to(#ff3d54));
  background-image: url(/blogr-landing-page-main/images/bg-pattern-intro-desktop.svg), linear-gradient(#ff8f70, #ff3d54);
  background-size: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  border-radius: 0 0 0 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hero-container .navbar-one {
  width: 100%;
  height: 50px;
  padding: 50px 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-container .inner-hero {
  display: block;
  width: 100%;
  text-align: center;
}

.hero-container .inner-hero h1 {
  padding-bottom: 30px;
  font-size: 2.4rem;
  color: white;
  font-weight: 400;
}

.hero-container .inner-hero p {
  padding-bottom: 50px;
  color: white;
  font-size: 1.2rem;
  font-weight: 100;
}

.hero-container .inner-hero .hero-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.hero-container .inner-hero .hero-buttons .startforfree {
  background-color: white;
  font-size: 1rem;
  border: none;
  color: #FF3D54;
  padding: 1em 1.5em;
  margin: 0.5rem;
  border-radius: 2em;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.hero-container .inner-hero .hero-buttons .startforfree:hover {
  background-color: #FF3D54;
  /* Green */
  color: white;
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hero-container .inner-hero .hero-buttons .learnmore {
  border: 0.1em solid white;
  background-color: transparent;
  font-size: 1rem;
  color: white;
  padding: 1em 1.5em;
  margin: 0.5rem;
  border-radius: 2em;
  text-decoration: none;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.hero-container .inner-hero .hero-buttons .learnmore:hover {
  color: white;
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container article {
  width: 100%;
  padding: 30px;
  text-align: center;
}

.container article.article-1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container article.article-1 .start-header {
  margin: auto;
}

.container article.article-1 .mobile-image img {
  width: 100%;
}

.container article.article-1 .text-block .desktop-image {
  display: none;
}

@media only screen and (min-width: 768px) {
  .container article.article-1 {
    padding: 40px;
  }
  .container article.article-1 img {
    width: 100%;
  }
  .container article.article-1 .text-block {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .container article.article-1 .text-block .mobile-image {
    display: none;
  }
  .container article.article-1 .text-block .desktop-image {
    display: block;
    width: 80%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    position: absolute;
    left: 50%;
  }
  .container article.article-1 .text-block .inner-box-container-1 {
    width: 50%;
  }
  .container article.article-1 .text-block .inner-box-container-1 .textbox {
    text-align: left;
  }
  .container article.article-1 .text-block .inner-box-container-1 .textbox h2 {
    padding: 20px 0;
  }
}

.container article.article-3 {
  width: 100%;
  margin-top: 150px;
  padding-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-image: url(/images/bg-pattern-circles.svg), -webkit-gradient(linear, left top, left bottom, from(#2e3052));
  background-image: url(/images/bg-pattern-circles.svg), linear-gradient(#2e3052);
  background-size: 100%;
  background-position: -90% -90%;
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 0 7rem 0 7rem;
}

@media only screen and (min-width: 768px) {
  .container article.article-3 {
    height: 300px;
    border-radius: 0 5rem 0 5rem;
    background-position: 10%;
    margin-bottom: 150px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

@media only screen and (min-width: 768px) {
  .container article.article-3 .text-box1 {
    width: 50%;
  }
}

.container article.article-3 .text-box1 h2 {
  color: white;
}

.container article.article-3 .text-box1 p {
  color: white;
}

.container article.article-3 .phone-images {
  margin-top: -150px;
}

@media only screen and (min-width: 768px) {
  .container article.article-3 .phone-images {
    width: 50%;
    margin-top: 0;
  }
}

.container article.article-3 .phone-images img {
  width: 90%;
  display: block;
  position: relative;
}

.container article h2 {
  font-size: 1.5rem;
  font-weight: 400;
  color: #25252d;
  padding: 1.5rem;
}

.container article p {
  font-size: 1rem;
  line-height: 1.8rem;
  font-weight: 300;
  color: #25252d;
}

.container article .dashboard-image {
  width: 100%;
  padding-bottom: 1rem;
}

@media only screen and (min-width: 768px) {
  .container article .dashboard-image {
    width: 50%;
  }
}

footer {
  width: 100%;
  background-color: #24242C;
  border-radius: 0 7rem 0 0;
  margin-top: 60px;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media only screen and (min-width: 768px) {
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

footer .footer-logo {
  width: 30%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 60px 0;
}

footer .footer-menus {
  padding: 0 0 70px 0;
  text-align: center;
}

footer .footer-menus h4 {
  color: white;
  padding-bottom: 15px;
}

footer .footer-menus ul {
  list-style: none;
}

footer .footer-menus ul li {
  color: white;
  font-weight: 200;
  padding-bottom: 2%;
}

footer .attribution {
  color: white;
  padding: 30px 0 10px 0;
  font-size: 0.8rem;
  font-weight: 200;
}

footer .attribution a {
  color: white;
  text-decoration: none;
}
/*# sourceMappingURL=styles.css.map */